*{
  margin: 0;
  padding: 0;
box-sizing: border-box;
}
body {
  background-color: #2267c1;
  margin: 0;
  font-family:sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img{
  height: 150px;
  width: 250px;
border-radius: 39px;
}
.navbar{
background-color: #f2cfaf;
}
.nav-item{
  padding: 4  0px;
  margin-right: 10.5rem;
}
.nav-link{
  color: #63391e;
}
.row{
  margin: 30px;
  justify-content: space-around;
}
.col-4{
  
  justify-content: right;
flex-basis: 30%;
margin: 30px;

}
.btnCreate{
  color: black;
  margin: 500px;
  padding: 10px;

}
.btnCreate:hover{
  background-color: cadetblue;
}
.btnEdit{
  color: darkcyan;
}
.btnDelete{
  color: firebrick;
}
.container-create{
width: 100vw;
margin: 0;
padding: 0;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}
.container-create h3{
  text-align: center;
  color: beige;
  align-items: center;
  font-size: 29px;
  font-weight: 600;
}

.input label{
  color: #f2cfaf;
  display: block;
  margin-bottom: 10px;
  margin: 20px;
}
.input{
  margin-bottom: 20px;
  position: relative; 
}

.input input{
color: blanchedalmond;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  background-color: transparent;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
}
.input small{
  display: block;
  color: #e7e5e6;
  font-weight: bold;
  font-size: 11px;
  padding-top: 3px;
  visibility: hidden;
}
.container h2{
  margin: 20px;
  font-size: 25px;
  font-weight: 600;
  padding: 20p;

}
.btnS{
width: 100%;
height: 40px;
line-height: 40px;
background-color: #9ac6e3;
border:  1px #9aa8df;
cursor: pointer;
font-weight: 600;
color: #63391e;
border-radius: 20px;
display: block;
font-size: 16px;
}

table{
  margin: 55px;
  align-items: center;
  justify-content: center;
}
.container{
  background-color: #e7e5e6;
  border-radius: 15px;
}
tr{
  align-items: center;
  justify-content: center;

}
.col-3 h2{

font-size: 25px;
line-height: 60px;
margin: 25px 0;
color:blanchedalmond;}
.col-4 img{
 width: 400px;
 height: 500px;
}